<div class="orgProfileContainer">

  <h2>{{orgService.org.name}}</h2>

  <div>
    <div class="orgInfo">
      <div class="orgContact">
        <span class="website">
          <i class="pi pi-globe"></i>
          <p>{{orgService.org.website}}</p>
        </span>

          <span class="phone">
          <i class="pi pi-phone"></i>
          <p>{{orgService.org.phone}}</p>
        </span>

          <span class="email">
          <i class="pi pi-envelope"></i>
          <p>{{orgService.org.email}}</p>
        </span>
      </div>

      <div class="orgAddress">
        <span class="address">
        <i class="pi pi-map-marker"></i>
        <p>{{orgService.org.address}}</p>
      </span>
      </div>
    </div>
  </div>

  <div class="userListButtons">
    <button pButton type="button" label="Doctors List"
            class="p-button-raised p-button-text p-button-success"></button>
    <button pButton type="button" label="Employees List"
            class="p-button-raised p-button-text p-button-success"></button>
  </div>
</div>
