.orgProfileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.orgContact{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.orgInfo span{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orgInfo i{
  font-size: 18px;
  color: #15A34A;
}

.userListButtons{
  display: flex;
  gap: 24px;
}

.userListButtons button{
  background: white;
}
