<!--<app-history></app-history>-->

<div class="container-fluid p-0 m-0 text-center d-flex flex-column gap-5">

  <div class="row p-0 m-0">
    <div class="col">
      <h1> Hospital Medicine billing </h1>
    </div>
  </div>

  <div class="card p-3 m-0">
    <div class="row p-0 m-0">
      <div class="col text-start">
        <p>Receptionist ID: 12123</p>
      </div>
      <div class="col">
        <p>Receptionist Name: XYZ</p>
      </div>
      <div class="col text-end">
        <p>Date: 12/04/23</p>
      </div>
    </div>
  </div>


  <div class="row p-0 m-0">
    <div class="col-9 text-start fields">

      <label for="searchPatient"> Search Patient </label>
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-search"></i>
          </span>
        <p-autoComplete
          [style]="{'width': '100%'}"
          [inputStyle]="{'width': '100%'}"
          inputId="searchPatient"
          [formControl]="patientSearch"
          placeholder="Enter name/phone"
          [showEmptyMessage] = "true"
          [suggestions]="MBService.filteredPatients"
          (onSelect)="onPatientSelect()"
          [forceSelection]="true"
          (completeMethod)="filterPatient($event)"
          field="name">

          <ng-template let-patient pTemplate="item">
            <p>{{ patient.name }} ({{ patient.phone }})</p>
          </ng-template>

        </p-autoComplete>
      </div>
    </div>

    <div class="col-3 d-flex flex-column justify-content-end">
      <button pButton
              class="p-button-success p-button-outlined d-none d-lg-block"
              label="Add new patient"
              icon="pi pi-plus"
              (click)="showCreateDialog()"

      ></button>
      <button pButton
              class="p-button-success p-button-outlined d-lg-none"
              icon="pi pi-plus"
              (click)="showCreateDialog()"
      ></button>
    </div>
  </div>

  <div *ngIf="patientSearch.valid" class="row p-0 m-0">
    <div class="col">
      <div class="card text-start p-3 d-flex flex-column gap-3">
        <div class="row p-0 m-0">
          <div class="col-10 p-0 m-0">
            <h4>Patient: {{MBService.selectedPatient.name}}</h4>
          </div>
          <div class="col-2 d-flex justify-content-end p-0 m-0">
            <button pButton
                    icon="pi pi-times"
                    class="p-button-sm p-button-outlined p-button-danger"
                    (click)="resetPatientSearch()"
            >
            </button>
          </div>
        </div>

        <div class="row p-0 m-0">
          <div class="col p-0 m-0">
            <p-chip class="mx-2" label="Phone: {{MBService.selectedPatient.phone}}"></p-chip>
            <p-chip class="mx-2" label="Email: {{MBService.selectedPatient.email}}"></p-chip>
            <p-chip class="mx-2" label="Age: {{MBService.selectedPatient.age}}"></p-chip>
            <p-chip class="mx-2" label="Gender: {{MBService.selectedPatient.gender}}"></p-chip>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col-9 fields text-start">
      <label for="searchMeds"> Search & Add Medicines </label>
      <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-search"></i>
                </span>
        <p-autoComplete
          [style]="{'width': '100%'}"
          [inputStyle]="{'width': '100%'}"
          inputId="searchMeds"
          [formControl]="medicineSearch"
          placeholder="Enter name"
          [showEmptyMessage] = "true"
          [suggestions]="MBService.filteredMeds"
          [forceSelection]="true"
          (onSelect)="onMedSelect($event)"
          (completeMethod)="filterMeds($event)"
          field="medicine.name">
          <ng-template let-med pTemplate="item">
            <p>{{ med.medicine.name }} ({{ med.medicine.strength }} {{med.medicine.formulation}} | Vendor: {{med.medicine.vendor}})</p>
          </ng-template>

        </p-autoComplete>
      </div>

    </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col">
      <p-table styleClass="p-datatable-sm p-datatable-gridlines" #dt
               [rowHover]="true"
               [value]="MBService.selectedMeds"
               [style]="{'width': '100%', 'min-width': '800px'}"
               [scrollable]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center"> # </th>
            <th style="text-align: center"> Name </th>
            <th style="text-align: center"> Unit Price </th>
            <th style="text-align: center"> Quantity </th>
            <th style="text-align: center"> Final Price </th>
            <th style="text-align: center"> Actions </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index='rowIndex'>
          <tr>
            <td style="text-align: center"> {{index + 1}} </td>
            <td style="text-align: center"> {{item.medicine.name}} </td>
            <td style="text-align: center"> {{item.medicine.price}}</td>
            <td style="text-align: center">
              <p-inputNumber
                [showButtons]="true"
                buttonLayout="horizontal"
                [(ngModel)]="item.quantity"
                [step]="1"
                [min]="1"
                (onInput)="handleQtyInput($event, index)"
                incrementButtonClass="p-button-outlined p-button-secondary"
                decrementButtonClass="p-button-outlined p-button-secondary"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                mode="decimal">
              </p-inputNumber>
            </td>
            <td style="text-align: center"> {{item.total_price}}</td>
            <td style="text-align: center">
              <button (click)="onDelete(index)" pButton class="p-button-outlined p-button-danger" icon="pi pi-trash"></button>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col p-0 m-0">
      <button pButton
              type="button"
              class="p-button-success"
              icon="pi pi-arrow-right"
              iconPos="right"
              [disabled]="!patientSearch.valid || MBService.selectedMeds.length < 1"
              label="Proceed to checkout"
              routerLink="/medicine/checkout"
      ></button>
    </div>
  </div>

</div>
