.orgRegContainer{
  width: 100%;
}

.inputField{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.orgRegCardContainer form{
  display: flex;
  flex-direction: column;
}

.orgRegCardContainer button{
    position: sticky;
    width: 100%;
    bottom: 0;
}

.orgRegCardContainer label{
  margin: 5px 0;
}
