<div class="orgRegContainer">

  <div class="orgRegCardContainer">

    <form [formGroup]="orgForm" (ngSubmit)="onSubmit()">

      <!------------------------------------------------------------------
      ------------------------ Create Doctor Form ------------------------
      ------------------------------------------------ ------------------->

      <span
            class="inputField">
        <label for="name">Name</label>
        <input formControlName="name"
               id="name"
               type="text"
               pInputText
               class="p-inputtext-sm"
        />
        <p class="errorMsg m-0"
          *ngIf="orgForm.controls['name'].invalid && orgForm.controls['name'].touched">
           This field is required!
        </p>
      </span>

      <span
            class="inputField">
        <label for="address">Address</label>
        <input formControlName="address"
               id="address"
               type="text"
               pInputText
               class="p-inputtext-sm"
        />
        <p class="errorMsg m-0"
          *ngIf="orgForm.controls['address'].invalid && orgForm.controls['address'].touched">
           This field is required!
        </p>
      </span>

      <span
            class="inputField">
        <label for="phone">Phone</label>
        <input formControlName="phone"
               id="phone"
               type="text"
               pInputText
               class="p-inputtext-sm"
        />
        <p class="errorMsg m-0"
          *ngIf="orgForm.controls['phone'].invalid && orgForm.controls['phone'].touched">
          This field is required!
        </p>
      </span>

      <span
            class="inputField">
        <label for="email">Email</label>
        <input formControlName="email"
               id="email"
               type="email"
               pInputText
               class="p-inputtext-sm"
        />
        <p class="errorMsg m-0"
          *ngIf="orgForm.controls['email'].invalid && orgForm.controls['email'].touched">
          This field is required!
        </p>
      </span>

      <span
            class="inputField">
        <label for="website">Website</label>
        <input formControlName="website"
               id="website"
               type="text"
               pInputText
               class="p-inputtext-sm"
        />
      </span>


     <!------------------------------------------------------------------
     ------------------------ Edit Doctor Form --------------------------
     ------------------------------------------------ ------------------->


<!--      <span *ngIf="orgService.editMode"-->
<!--            class="inputField">-->
<!--        <label for="name">Name</label>-->
<!--        <input formControlName="name"-->
<!--               inputId="name"-->
<!--               type="text"-->
<!--               pInputText-->
<!--        />-->
<!--        <p-->
<!--          *ngIf="!orgForm.controls['name'].valid && orgForm.controls['name'].touched">-->
<!--           This field is required!-->
<!--        </p>-->
<!--      </span>-->

<!--      <span *ngIf="orgService.editMode"-->
<!--            class="inputField">-->
<!--        <label for="address">Address</label>-->
<!--        <input formControlName="address"-->
<!--               inputId="address"-->
<!--               type="text"-->
<!--               pInputText-->
<!--        />-->
<!--        <p-->
<!--          *ngIf="!orgForm.controls['address'].valid && orgForm.controls['address'].touched">-->
<!--           This field is required!-->
<!--        </p>-->
<!--      </span>-->

<!--      <span *ngIf="orgService.editMode"-->
<!--            class="inputField">-->
<!--        <label for="phone">Phone</label>-->
<!--        <input formControlName="phone"-->
<!--               inputId="phone"-->
<!--               type="text"-->
<!--               pInputText-->
<!--        />-->
<!--        <p-->
<!--          *ngIf="!orgForm.controls['phone'].valid && orgForm.controls['phone'].touched">-->
<!--          This field is required!-->
<!--        </p>-->
<!--      </span>-->

<!--      <span *ngIf="orgService.editMode"-->
<!--            class="inputField">-->
<!--        <label for="email">Email</label>-->
<!--        <input formControlName="email"-->
<!--               inputId="email"-->
<!--               type="email"-->
<!--               pInputText/>-->
<!--        <p-->
<!--          *ngIf="!orgForm.controls['email'].valid && orgForm.controls['email'].touched">-->
<!--          This field is required!-->
<!--        </p>-->
<!--      </span>-->

<!--      <span *ngIf="orgService.editMode"-->
<!--            class="inputField">-->
<!--        <label for="website">Website</label>-->
<!--        <input formControlName="website"-->
<!--               inputId="website"-->
<!--               type="text"-->
<!--               pInputText/>-->
<!--      </span>-->

      <button pButton type="submit" label={{submitLabel}} [disabled]="!orgForm.valid"></button>

    </form>

  </div>

</div>
