<div class="container-fluid h-100 p-0 m-0">
  <div class="row h-100">
    <div class="col rounded d-flex background rounded flex-column justify-content-center align-items-center gap-4 p-5">
      <h1 class="text-center">A Platform For Billing <br> & Management In One Place </h1>
      <p>Welcome to SHL Billing, {{authService.appUserName}}. You are logged in as <b>{{authService.getRole().split("ROLE_")[1].replace('_', ' ') | titlecase}}</b>
      </p>
      <span>
      <button [routerLink]="routerLink" pButton label="Start Journey" icon="pi pi-arrow-right" iconPos="right"></button>
      </span>

    </div>
  </div>
</div>
