<p-toast position="center"></p-toast>

<form *ngIf="medService.role ==='ROLE_ADMIN'; else orgAdminFunctions"
      class="container-fluid d-flex flex-column gap-4 p-0 m-0"
      [formGroup]="createMedForm"
      (ngSubmit)="onSubmit()">

  <small *ngIf="createMedForm.invalid"><i>All fields are required *</i></small>

  <div class="row p-0">

    <div class="fields col">
      <label for="medName"> Name </label>
      <input type="text" pInputText id="medName" placeholder="e.g. Napa" formControlName="name"/>
      <small class="errorMsg" *ngIf="!createMedForm.controls['name'].valid && createMedForm.controls['name'].touched"> This field is required!</small>
    </div>

    <div class="fields col">
      <label for="medGeneric" class="block"> Generic </label>
      <input type="text" pInputText id="medGeneric" placeholder="e.g. Paracetamol" formControlName="genericName"/>
      <small class="errorMsg" *ngIf="!createMedForm.controls['genericName'].valid && createMedForm.controls['genericName'].touched"> This field is required!</small>
    </div>

  </div>

  <div class="row p-0">

    <div class="fields col">
      <label for="medformulation" class="block"> Formulation </label>
      <input type="text" pInputText id="medformulation" placeholder="e.g. Tablet" formControlName="formulation"/>
      <small class="errorMsg" *ngIf="!createMedForm.controls['formulation'].valid && createMedForm.controls['formulation'].touched"> This field is required!</small>
    </div>

    <div class="fields col">
      <label for="medStrength" class="block"> Strength </label>
      <input type="text" pInputText id="medStrength" placeholder="e.g. 20mg" formControlName="strength"/>
      <small class="errorMsg" *ngIf="!createMedForm.controls['strength'].valid && createMedForm.controls['strength'].touched"> This field is required!</small>
    </div>

  </div>

  <div class="row p-0">

    <div class="fields col">
      <label for="medVendor" class="block"> Vendor </label>
      <input type="text" pInputText id="medVendor" placeholder="e.g. BEXIMCO" formControlName="vendor"/>
      <small class="errorMsg" *ngIf="!createMedForm.controls['vendor'].valid && createMedForm.controls['vendor'].touched"> This field is required!</small>
    </div>

    <div class="fields col">
      <label for="medPrice" class="block"> Price </label>
      <p-inputNumber formControlName="price" [style]="{'width': '100%'}" placeholder="e.g. 2.00" inputId="medPrice" mode="decimal" [maxFractionDigits]="2"></p-inputNumber>
      <small class="errorMsg" *ngIf="!createMedForm.controls['price'].valid && createMedForm.controls['price'].touched"> This field is required!</small>
    </div>

  </div>

  <div class="row p-0">
    <button [disabled]="!createMedForm.valid"
            *ngIf="!medService.editMode;
            else updateMed" [style]="{'width': '100%'}"
            pButton type="submit"
            label="Add Medicine"
            class=" p-button-sm"></button>
    <ng-template #updateMed>
      <button [disabled]="!createMedForm.valid || !createMedForm.dirty"
              [style]="{'width': '100%'}" pButton
              type="submit" label="Update Medicine"
              class=" p-button-sm"></button>
    </ng-template>
  </div>

</form>


<ng-template #orgAdminFunctions>
  <div class="container-fluid p-0 m-0 d-flex flex-column gap-5">
    <form class="container-fluid d-flex flex-column gap-4 p-0 m-0" [formGroup] = "selectedMedForm" (ngSubmit)="onOrgAdminSubmit()" >

      <div class="row p-0 m-0">

        <div class="fields" *ngIf="!medService.editMode">
          <label for="medOptions"> Search Medicines </label>

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
            <p-autoComplete
              [style]="{'width': '100%'}"
              [inputStyle]="{'width': '100%'}"
              inputId="medOptions"
              formControlName="med"
              placeholder="Search..."
              [showEmptyMessage] = "true"
              [showClear] = "true"
              [suggestions]="filteredMeds"
              [forceSelection]="true"
              (completeMethod)="filterMeds($event)"
              field="name">

              <ng-template let-med pTemplate="item">
                <p>{{ med.name }} ({{ med.strength }} {{med.formulation}} | Vendor: {{med.vendor}})</p>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

      </div>

      <div class="row p-0 m-0">
        <div class="col">
          <button *ngIf="!medService.editMode"
                  [disabled]="!selectedMedForm.valid"
                  [style]="{'width': '100%'}"
                  pButton type="submit"
                  label="Add Medicine"
                  class="p-button-secondary">
          </button>
        </div>

      </div>

    </form>

    <div class="container-fluid fields" *ngIf="!medService.editMode">

      <div class="row p-0 m-0">
        <div class="col fields">
          <label>Selected Medicines</label>

          <p-table [value]="medService.selectedMeds"
                   [scrollable]="true"
                   scrollHeight="200px"
                   styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-med let-index='rowIndex'>
              <tr>
                <td>{{ med.name }}</td>
                <td>{{ med.price }}</td>
                <td>
                  <button (click)="onDelete(index)"
                          pButton
                          class="p-button-outlined p-button-danger p-button-sm"
                          icon="pi pi-trash">
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="row p-0 m-0 bg-white position-sticky bottom-0">
        <div class="col">
          <button (click)="onConfirm()"
                  [style]="{'width': '100%'}"
                  [disabled]="medService.selectedMeds.length < 1" pButton
                  label="Confirm selection"
                  class=" p-button-sm">
          </button>
        </div>
      </div>


    </div>
  </div>
</ng-template>
