<p-menu #menu [model]="menuItems" [popup]="true" [style]="{'width': 'auto'}"></p-menu>
<button pButton type="button" (click)="menu.toggle($event)" class="p-button-rounded p-button-success p-button-text" icon="pi pi-user"></button>

<p-confirmDialog [style]="{width: '40%'}"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text p-button-plain"
                 header="Log out"
                 icon="pi pi-exclamation-triangle">
</p-confirmDialog>
