/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
@import "src/app/scss/variables.scss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body{
  height: 100vh;
  background-color: #eff3f8;
  scroll-behavior: smooth;
  //overflow: auto;
}

h1, h2, h3, h4, h5{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

.fields{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMsg{
  font-size: 12px;
  color: red;
}

.search{
  button{
    width: 180px;
  }
}

.tableToolbar{
  display: flex;
  margin: 20px 0;
  button{
    width: 180px;
  }
}

small{
  color: grey;
}

.historyContainer{
  background: white;
  padding: 20px 50px;
  font-size: 14px;
}

.terms{
  color: black;
}

li{
  list-style: none;
}

.icon{
  font-size: 24px;
  color: $primary-color;
  background: $primary-lighter;
  padding: 5px;
  border-radius: 8px;
}
