@import "src/app/scss/variables.scss";

.p-datatable{
  .p-datatable-tbody > tr > td, .p-datatable-thead > tr > th {
    text-align: center;
  }
}

.p-button{
  background: $primary-color;
  border: none;
  color: white;
  &:hover:hover{
    background: $primary-darker;
  }
}

.p-button{
  &.p-button-outlined, &.p-button-text{
    color: $primary-color;
    &:hover:hover{
      color: $primary-darker;
      background: $primary-lighter;
    }
  }
}

.p-button:disabled, :disabled:hover:hover{
  background: $disabled;
  border: $disabled;
}

.p-tabview {
  .p-tabview-panels{
    background: transparent;
    padding: 0;
  }
  .p-tabview-nav li .p-tabview-nav-link,{
    //display: none;
    color: $primary-color;
  }

  .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    color: $primary-darker;
    background: $primary-lighter;
  }

  .p-tabview-nav .p-tabview-ink-bar {
    background: $primary-darker;
  }
}

.p-panelmenu{
  .p-panelmenu-header > a {
    color: black;
    font-weight: 100;
    border: none;
    background: transparent;
    padding: 14px;
  }

  .p-panelmenu-header.p-highlight > a{
    background: transparent;
    font-weight: 100;
    padding: 14px;
  }

  .p-panelmenu-header:not(.p-highlight):not(.p-disabled)>a:hover ,
  .p-panelmenu-header.p-highlight:not(.p-disabled)>a:hover
  {
    background-color: $primary-lighter;
    color: $primary-darker;
  }


  .p-panelmenu-content{
    border: none;
  }

  .p-panelmenu-content .p-menuitem .p-menuitem-link {
    padding: 10px 20px;
  }

  .p-menuitem-link-active{
    background-color: $primary-lighter;
    color: $primary-darker;
  }
}
