<form *ngIf="diagService.role ==='ROLE_ADMIN'; else orgAdminFunctions"
      class="container-fluid d-flex flex-column gap-4 p-0 m-0"
      [formGroup]="createDiagForm"
      (ngSubmit)="onSubmit()">

  <div class="row p-0">

    <div class="fields col">
      <label for="diagName"> Name </label>
      <input type="text" pInputText id="diagName" placeholder="E.g: X-Ray" formControlName="serviceName"/>
    </div>

  </div>

  <div class="row p-0">
    <div class="col">
      <button *ngIf="!diagService.editMode; else updateDiag" [style]="{'width': '100%'}" pButton type="submit" label="Add Diagnostic" class="p-button-success"></button>
      <ng-template #updateDiag>
        <button  [style]="{'width': '100%'}" pButton type="submit" label="Update Diagnostic" class="p-button-success"></button>
      </ng-template>
    </div>

  </div>

</form>


<ng-template #orgAdminFunctions>
  <div class="container-fluid p-0 m-0 d-flex flex-column gap-5">
    <form class="container-fluid d-flex flex-column gap-4 p-0 m-0" [formGroup] = "selectDiagForm" (ngSubmit)="onOrgAdminSubmit()" >

      <div class="row p-0 m-0">

        <div class="fields col-8" *ngIf="!diagService.editMode">
          <label for="diagOptions"> Search Diagnostics </label>

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
            <p-autoComplete
              [style]="{'width': '100%'}"
              [inputStyle]="{'width': '100%'}"
              inputId="diagOptions"
              formControlName="diag"
              placeholder="Search..."
              [showEmptyMessage] = "true"
              [showClear] = "true"
              [suggestions]="filteredDiags"
              [forceSelection]="true"
              (completeMethod)="filterDiag($event)"
              field="serviceName">
            </p-autoComplete>
          </div>

        </div>

        <div class="fields col-4" *ngIf="!diagService.editMode">
          <label for="diagPrice"> Price </label>
          <input type="text" pInputText id="diagPrice" placeholder="E.g: 500" formControlName="price"/>
        </div>

        <div class="fields col" *ngIf="diagService.editMode">
          <label for="updateDiagPrice"> Price </label>
          <input type="text" pInputText id="updateDiagPrice" placeholder="E.g: 500" formControlName="price"/>
        </div>

      </div>

      <div class="row p-0 m-0">
        <div class="col">
          <button *ngIf="!diagService.editMode; else updateDiag"
                  [disabled]="!selectDiagForm.valid"
                  pButton type="submit"
                  label="Add Diagnostic"
                  [style]="{'width': '100%'}"
                  class="p-button-secondary">
          </button>
          <ng-template #updateDiag>
            <button  [style]="{'width': '100%'}" pButton type="submit" label="Update Diagnostic" class="p-button-success"></button>
          </ng-template>
        </div>

      </div>

    </form>

    <div class="container-fluid fields" *ngIf="!diagService.editMode">
      <p class="p-0 m-0">Selected Diagnostics</p>

      <p-table [value]="diagService.selectedDiags" styleClass="p-datatable-sm p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Action</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-diag let-index='rowIndex'>
          <tr>
            <td style="text-align: center">{{ diag.serviceName }}</td>
            <td style="text-align: center">{{ diag.price }}</td>
            <td style="text-align: center">
              <button (click)="onDelete(index)"
                      pButton
                      class="p-button-outlined p-button-danger p-button-sm"
                      icon="pi pi-trash">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <button (click)="onConfirm()" [disabled]="diagService.selectedDiags.length < 1" pButton
              label="Confirm selection"
              class="p-button-success">
      </button>

    </div>
  </div>
</ng-template>
