<div class="historyContainer" #t *ngIf="historyService.billingDetails as medBill">

  <div class="row">
    <h1 class="col">Invoice #{{medBill.id}}</h1>
    <div class="date col">
      <p>Issued</p>
      <p *ngIf="medBill.createdAt as time">
        {{time[3]+":"+time[4]+":"+time[5]+", "+time[1]+"/"+time[2]+"/"+time[0]}}
      </p>
<!--      <p>{{medBill.createdAt.split('T')[1].split('.')[0]}}, {{medBill.createdAt.split('T')[0]}}</p>-->
    </div>
  </div>

  <hr>

  <span class="row">
    <div class="orgDetails col">
      <p>{{medBill.organization.name}}</p>
      <ul>
        <li>Address: {{medBill.organization.address | titlecase}}</li>
        <li>Phone: {{medBill.organization.phone}}</li>
        <li>Email: {{medBill.organization.email}}</li>
        <li>Website: {{medBill.organization.website}}</li>
      </ul>
    </div>

    <div class="userDetails col text-end">
      <p>Service: Diagnostic</p>
      <ul>
        <li><b>Receptionist Details</b></li>
        <li>ID: {{medBill.createdBy.id}}</li>
        <li>Name: {{medBill.createdBy.name}}</li>
        <li>Phone: {{medBill.createdBy.phone}}</li>
      </ul>
    </div>
  </span>

  <hr>

  <span class="patinetnInfo">
    <p class="sectionHeader mb-2">Patient Details#{{medBill.patient.id}}</p>
    <ul class="row">
      <li class="col">{{medBill.patient.name}}</li>
      <li class="col-2">{{medBill.patient.age}}y/o</li>
      <li class="col-2">{{medBill.patient.gender | titlecase}}</li>
      <li class="col">{{medBill.patient.phone}}</li>
      <li class="col">{{medBill.patient.email}}</li>
    </ul>
  </span>

  <hr>

  <span class="billItems">
      <p class="sectionHeader">Diagnostics</p>
      <table>
        <tr>
          <th>Name</th>
          <th>Strength</th>
          <th>Generic</th>
          <th>Vendor</th>
          <th>Unit Price</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let item of medBill.medicines; let i=index">
          <td>{{item.name}}</td>
          <td>{{item.strength}}</td>
          <td>{{item.genericName}}</td>
          <td>{{item.vendor}}</td>
          <td>BDT {{item.price}}</td>
          <td>{{medBill.medQuantities[i]}}</td>
        </tr>
      </table>
  </span>

  <hr>

  <p class="sectionHeader">Payment Details</p>
  <p>Subtotal: BDT {{medBill.totalBill}}</p>
  <p>Overall Discount: {{medBill.discount}}%</p>
  <p>VAT: 5%</p>

  <span class="finalBill">
    <p>Final Bill: BDT {{medBill.finalBill}}</p>
    <p>In words: {{toWords(medBill.finalBill)}} Taka Only</p>
  </span>

  <hr class="border-0">

  <small class="terms"><b>Terms & Conditions:</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
</div>

<div class="pdfAction text-center">
  <p-button (click)="createPDF('download')" label="Download"></p-button>
  <p-button (click)="createPDF('print')" label="Print"></p-button>
</div>
