<div class="historyContainer"
     #t *ngIf="historyService.billingDetails as medBill">

  <div class="row">
    <div class="col">
      <h1>Invoice</h1>
    </div>
    <div class="col text-end">
      <p>{{medBill.organization.name}}</p>
      <ul>
        <li>{{medBill.organization.address}}</li>
        <li>{{medBill.organization.phone}}</li>
      </ul>

    </div>
  </div>

  <hr>

  <span class="row">
    <div class="orgDetails col">
      <p class="m-0">{{medBill.patient.name}}</p>
      <ul>
        <li class="col">{{medBill.patient.phone}}</li>
        <li class="col">{{medBill.patient.email}}</li>
        <li class="col">{{medBill.patient.age+"y/o, "+medBill.patient.gender | titlecase}}</li>
      </ul>
    </div>

    <div class="userDetails col text-end">
      <p class="m-0">Service: Medicine</p>
      <ul>
        <li>Invoice#: {{medBill.id}}</li>
        <li *ngIf="medBill.createdAt as time">
          Issued: {{time[2]+"/"+time[1]+"/"+time[0]}}
        </li>
        <li>Issued By: {{medBill.createdBy.name}}</li>

      </ul>
    </div>
  </span>

  <hr>

  <span class="billItems">
      <table>
        <tr class="row">
          <th class="col">Medicine</th>
          <th class="col text-end">Strength</th>
          <th class="col text-end">Quantity</th>
          <th class="col text-end">Unit</th>
          <th class="col text-end">Amount</th>
        </tr>
        <tr *ngFor="let item of medBill.medicines; let i=index" class="row">
          <td class="col">{{item.name}} {{item.formulation}}</td>
          <td class="col text-end">{{item.strength}}</td>
          <td class="col text-end">{{medBill.medQuantities[i]}}</td>
          <td class="col text-end">{{item.price}}</td>
          <td class="col text-end">{{item.price * medBill.medQuantities[i]}}</td>
        </tr>
      </table>
  </span>

  <hr>

  <div class="row text-end">
    <span class="col-9"></span>
    <span class="col-1 te">
      <p>Subtotal</p>
      <p>Discount</p>
      <p>VAT</p>
      <b>Total</b>
    </span>
    <span class="col">
        <p>{{medBill.totalBill}}</p>
        <p>{{medBill.discount}}%</p>
        <p>5%</p>
        <b>{{medBill.finalBill}}</b>
    </span>
    <p class="text-end mt-3">In words: {{toWords(medBill.finalBill)}}</p>
  </div>

  <hr class="border-0">

  <small class="terms"><b>Terms & Conditions:</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
</div>

<div class="pdfAction text-center">
  <p-button (click)="createPDF('download')" label="Download"></p-button>
  <p-button (click)="createPDF('print')" label="Print"></p-button>
</div>
