table{
  width: 100%;
  td, th{
    text-align: left;
  }
}

th{
  margin: 0;
}

td{
  margin-top: 8px;
}

ul{
  padding: 0;
}

tr{
  text-align: center;
}

.historyType{
  color: dimgrey;
  font-weight: lighter;
}

.orgDetails{
  p{
    font-size: 20px;
    margin: 10px 0 ;
  }
}

.userDetails {
  p{
    font-size: 20px;
    margin: 10px 0 ;
  }
}

.finalBill{
  margin: 20px;
  font-weight: bold;
}

.pdfAction{
  margin-top: 20px;
  ::ng-deep p-button{
    margin: 20px;
  }
}
