.historyContainer{
  background: white;
  padding: 25px;
  font-size: 14px;
}

table{
  width: 100%;
  td, th{
    text-align: left;
  }
}

.date{
  :nth-child(1){
    text-align: right;
    font-size: 20px;
  }
  :nth-child(2){
    text-align: right;
    font-size: 14px;
    font-weight: bolder;
  }
}

ul{
  list-style: none;
  padding: 0;
}

tr{
  text-align: center;
}

.orgName{
  font-size: 20px;
}

.historyType{
  color: dimgrey;
  font-weight: lighter;
}

.orgDetails{
  p{
    font-size: 20px;
    margin: 10px 0 ;
  }
}

.userDetails {
  p{
    font-size: 20px;
    margin: 10px 0 ;
  }
}

.patinetnInfo{
  li{
    text-align: center;
  }
}

.sectionHeader{
  font-weight: bold;
  font-size: 16px;
}

.finalBill{
  margin: 20px;
  font-weight: bold;
}

.pdfAction{
  margin-top: 20px;
  ::ng-deep p-button{
    margin: 20px;
  }
}
