.sidebarContainer{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: calc(100% - 110px);
  top: 90px;
  left: 20px;
  border-radius: 10px;
  padding: 15px;
  position: fixed;
  border: 2px #e7e7e7 solid;
}

//.sidebarHeader{
//  //background-color: aquamarine;
//  padding: 10px
//}

.sidebarBody{
  //background-color: aqua;
  height: 100%;
  overflow-y: auto;
}

ul{
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 95%;
  gap: 10px;
  padding: 0;
}

li{
  padding: 10px;
  transition: 0.4s all ease;
  border-radius: 10px;
  cursor: pointer;
}

li:hover{
  background-color: #d4ffe3;
  color: green;

}

.linkActive{
  background-color: #d4ffe3;
  color: green;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}
