<nav class="sidebarContainer d-none d-md-flex">

  <div class="sidebarBody">
    <ul>
      <li routerLink="dashboard" routerLinkActive="linkActive"> Dashboard </li>
      <li routerLink="doctor/list" routerLinkActive="linkActive">  Doctors </li>
      <li routerLink="org/list" routerLinkActive="linkActive" > Organizations </li>
      <li routerLink="diagnostics" routerLinkActive="linkActive"> Diagnostics </li>
      <li routerLink="medicine" routerLinkActive="linkActive"> Medicines </li>
      <li routerLink="patients" routerLinkActive="linkActive"> Patients </li>
      <li routerLink="users" routerLinkActive="linkActive"> Users </li>
    </ul>
    <button routerLink="/login" pButton label="Login" class="p-button-success"></button>

  </div>
</nav>
