<nav class="sidebarContainer d-none d-md-flex">

  <div class="sidebarBody">
    <ul>

      <li
        *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
        routerLink="dashboard" routerLinkActive="linkActive"> Dashboard </li>

      <li *ngIf="role === 'ROLE_ADMIN'"
          routerLink="org" routerLinkActive="linkActive" > Organizations </li>

      <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
          routerLink="doctor"
          routerLinkActive="linkActive">  Doctors </li>

      <li *ngIf="role === 'ROLE_DOCTOR_RECEPTIONIST'"
          routerLink="doctor/billing"
          routerLinkActive="linkActive">
        Doctor Billing </li>

      <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
          routerLink="diagnostics"
          routerLinkActive="linkActive"> Diagnostics </li>

      <li *ngIf="role === 'ROLE_DIAGNOSTIC_RECEPTIONIST'"
          routerLink="diagnostics/billing"
          routerLinkActive="linkActive">
        Diagnostic Billing </li>

      <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
          routerLink="medicine"
          routerLinkActive="linkActive"> Medicines </li>

      <li *ngIf="role === 'ROLE_PHARMACIST'"
          routerLink="medicine/billing"
          routerLinkActive="linkActive"> Medicine Billing </li>

      <li
        *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
        routerLink="patients"
        routerLinkActive="linkActive">
        Patients
      </li>

      <li
        *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
        routerLink="users"
        routerLinkActive="linkActive">
        Users
      </li>

    </ul>
    <button *ngIf="!authService.getRole()" routerLink="/login" pButton label="Login" class="p-button-success"></button>

  </div>
</nav>
