<div class="historyContainer" #t *ngIf="historyService.billingDetails as diagBill">

  <div class="row">
    <div class="col">
      <h1>Invoice</h1>
    </div>
    <div class="col text-end">
      <p>{{diagBill.organization.name}}</p>
      <ul>
        <li>{{diagBill.organization.address}}</li>
        <li>{{diagBill.organization.phone}}</li>
      </ul>

    </div>
  </div>

  <hr>
  <span class="row">
    <div class="orgDetails col">
      <p class="m-0">{{diagBill.patient.name}}</p>
      <ul>
        <li class="col">{{diagBill.patient.phone}}</li>
        <li class="col">{{diagBill.patient.email}}</li>
        <li class="col">{{diagBill.patient.age+"y/o, "+diagBill.patient.gender | titlecase}}</li>
      </ul>
    </div>

    <div class="userDetails col text-end">
      <p class="m-0">Service: Diagnostic</p>
      <ul>
        <li>Invoice#: {{diagBill.id}}</li>
        <li>
          Issued At: {{diagBill.timestamp.split('T')[0].split(' ')[0]}}
        </li>
        <li>Issued By: {{diagBill.appUser.name}}</li>

      </ul>
    </div>
  </span>

  <hr>

  <span class="billItems">
      <table>
        <tr>
          <th>Diagnostic</th>
          <th>Price (BDT)</th>
          <th>Discount</th>
          <th>Final Price (BDT)</th>
        </tr>
        <tr *ngFor="let item of diagBill.orgDiagnosticAndDiscounts">
          <td>{{item.orgDiagnostic.diagnostic.serviceName}}</td>
          <td>{{item.orgDiagnostic.price.toFixed(2)}}</td>
          <td>{{item.discount}}%</td>
          <td>{{item.invoicePrice.toFixed(2)}}</td>
        </tr>
      </table>
  </span>

  <hr>

  <div class="row text-end">
    <span class="col-9"></span>
    <span class="col-2 te">
      <p>Subtotal</p>
      <p>w. Individual Discount</p>
      <p>Discount</p>
      <p>VAT</p>
      <b>Total</b>
    </span>
    <span class="col">
        <p>{{diagBill.totalFeeWithoutAnyDiscount.toFixed(2)}}</p>
        <p>{{diagBill.totalFeeAfterIndividualDiscount.toFixed(2)}}</p>
        <p>{{diagBill.overallDiscount}}%</p>
        <p>5%</p>
        <b>{{diagBill.finalFeeAfterAllDiscount.toFixed(2)}}</b>
    </span>
    <p class="text-end mt-3">In words: {{toWords(diagBill.finalFeeAfterAllDiscount.toFixed(2))}}</p>
  </div>

  <hr class="border-0">

    <small class="terms"><b>Terms & Conditions:</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
</div>

<div class="pdfAction text-center">
  <p-button (click)="createPDF('download')" label="Download"></p-button>
  <p-button (click)="createPDF('print')" label="Print"></p-button>
</div>
