.docRegContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer{
  width: 70%;
  height: auto;
  padding: 16px;
}

.inputField{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.genderFields{
  display: flex;
  align-items: center;
  gap: 24px;
}

.cardContainer form{
  display: flex;
  flex-direction: column;
}

.cardContainer button{
  margin-top: 20px;
}

.cardContainer label{
  margin: 5px 0;
}
