<div class="docRegContainer">

  <div class="docRegCardContainer">

    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">

      <!------------------------------------------------------------------
      ------------------------ Create Doctor Form ------------------------
      ------------------------------------------------ ------------------->

      <span *ngIf="!doctorService.editMode"
            class="inputField">
        <label for="name">Name</label>
        <input formControlName="name"
               id="name"
               type="text"
               pInputText
        />
        <p
          *ngIf="!doctorForm.controls['name'].valid && doctorForm.controls['name'].touched">
          This field is required!
        </p>
      </span>

      <span *ngIf="!doctorService.editMode"
            class="inputField">
        <label for="phone">Phone</label>
        <input formControlName="phone"
               id="phone"
               type="text"
               pInputText
        />
        <p
          *ngIf="!doctorForm.controls['phone'].valid && doctorForm.controls['phone'].touched">
          This field is required!
        </p>
      </span>

      <span *ngIf="!doctorService.editMode"
            class="inputField">
        <label for="email">Email</label>
        <input formControlName="email"
               id="email"
               type="email"
               pInputText/>
        <p
          *ngIf="!doctorForm.controls['email'].valid && doctorForm.controls['email'].touched">
          This field is required!
        </p>
      </span>

      <span *ngIf="!doctorService.editMode"
            class="inputField">
        <label for="gender">Gender</label>
        <p-dropdown formControlName="gender"
                    [options]="doctorService.genders"
                    placeholder="-"
                    id="gender"
                    [style]="{width: '100%'}"
                    optionLabel="gender">
        </p-dropdown>
        <p
          *ngIf="!doctorForm.controls['gender'].valid && doctorForm.controls['gender'].touched">
          This field is required!
        </p>
      </span>

      <span *ngIf="!doctorService.editMode"
            class="inputField p-fluid">
        <label for="degrees">Degrees</label>
        <p-chips formControlName="degrees"
                 id="degrees">
        </p-chips>
      </span>

      <span *ngIf="!doctorService.editMode"
            class="inputField p-fluid">
        <label for="specialities">Specialities</label>
        <p-chips formControlName="specialities"
                 id="specialities">
        </p-chips>
      </span>


     <!------------------------------------------------------------------
     ------------------------ Edit Doctor Form --------------------------
     ------------------------------------------------ ------------------->

      <span *ngIf="doctorService.editMode"
        class="inputField">
        <label for="name">Name</label>
        <input formControlName="name"
               inputId="name"
               type="text"
               pInputText
        />
      </span>

      <span *ngIf="doctorService.editMode"
            class="inputField">
        <label for="phone">Phone</label>
        <input formControlName="phone"
               inputId="phone"
               type="text"
               pInputText
        />
      </span>

      <span *ngIf="doctorService.editMode"
            class="inputField">
        <label for="email">Email</label>
        <input formControlName="email"
               inputId="email"
               type="email"
               pInputText/>
      </span>

      <span *ngIf="doctorService.editMode"
            class="inputField">
        <label for="gender">Gender</label>
        <p-dropdown formControlName="gender"
                    [options]="doctorService.genders"
                    placeholder="-"
                    inputId="gender"
                    [style]="{width: '100%'}"
                    optionLabel="gender">
        </p-dropdown>
      </span>

      <span *ngIf="doctorService.editMode"
            class="inputField p-fluid">
        <label for="degrees">Degrees</label>
        <p-chips formControlName="degrees"
                 inputId="degrees">
        </p-chips>
      </span>

      <span *ngIf="doctorService.editMode"
            class="inputField p-fluid">
        <label for="specialities">Specialities</label>
        <p-chips formControlName="specialities"
                 inputId="specialities">
        </p-chips>
      </span>

      <button pButton type="submit" label={{submitLabel}}
              [disabled]="!doctorForm.valid && !doctorService.editMode"></button>

    </form>

  </div>

</div>
