<div>
  <div class="row mb-4">
    <h4 class="col-md-6 col text-md-start text-center">MEDICINES</h4>
    <div class="col-md-6 text-md-end text-center mt-md-0 mt-3">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm"
               (input)="onSearch($any($event.target).value)"
               placeholder="Search name/generic" />
      </div>
      <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
              class="p-button-sm col ms-2" label="New"></button>
    </div>
  </div>

<!--  <h3> Available Medicines </h3>-->
<!--  <div class="row">-->

<!--    <div class="col d-flex justify-content-start px-3">-->
<!--      <button (click)="showCreateDialog()" pButton icon="pi pi-plus"-->
<!--              class=" p-button-outlined p-button-sm"-->
<!--              label="New Medicine"></button>-->
<!--    </div>-->

<!--    <div class="col d-flex justify-content-end gap-3 px-3">-->

<!--          <span>-->
<!--            <p-dropdown placeholder="Vendor" [options]="medService.vendors"-->
<!--                        class="p-inputtext-sm"-->
<!--                        (onChange)="medService.onFilter($event)"></p-dropdown>-->
<!--          </span>-->

<!--      <span class="p-input-icon-left ml-auto">-->
<!--                  <i class="pi pi-search"></i>-->
<!--                  <input pInputText (input)="onSearch($any($event.target).value)"-->
<!--                         type="text" class="p-inputtext-sm"-->
<!--                         placeholder="Search name/generic" />-->
<!--          </span>-->

<!--    </div>-->

<!--  </div>-->
  <p-table styleClass="p-datatable-sm p-datatable-gridlines" #dt
           [rowHover]="true"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [value]="medService.medicines"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="medService.totalMedicine"
           [scrollable]="true"
  >

    <ng-template pTemplate="header">
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Generic </th>
        <th> Strength </th>
        <th> Vendor </th>
        <th> Price (BDT) </th>
        <th *ngIf="medService.role === 'ROLE_ADMIN'">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td> {{index + 1}} </td>
        <td> {{medService.role === 'ROLE_ADMIN' ? item.name : item.medicine.name}} </td>
        <td> {{medService.role === 'ROLE_ADMIN' ? item.genericName : item.medicine.genericName}} </td>
        <td> {{medService.role === 'ROLE_ADMIN' ? item.strength : item.medicine.strength}} </td>
        <td> {{medService.role === 'ROLE_ADMIN' ? item.vendor : item.medicine.vendor}} </td>
        <td> {{medService.role === 'ROLE_ADMIN' ? item.price : item.medicine.price}}</td>
        <td *ngIf="medService.role === 'ROLE_ADMIN'">
<!--          <span class="p-buttonset">-->
            <button (click)="showEditDialog(index)" pButton class="p-button-outlined p-button-sm p-button-secondary" icon="pi pi-pencil"></button>
<!--            <button *ngIf="medService.role !== 'ROLE_ADMIN'" (click)="onDelete(index)" pButton class="p-button-outlined p-button-danger" icon="pi pi-trash"></button>-->
<!--          </span>-->
        </td>

      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>

</div>
