<div class="doctorListContainer">

  <div class="row mb-4">
    <h4 class="col-md-6 col text-md-start text-center">REGISTERED ORGANIZATIONS</h4>
    <div class="col-md-6 text-md-end text-center mt-md-0 mt-3">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm"
               (input)="onSearch($any($event.target).value)"
               placeholder="Search name" />
      </div>
      <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
              class="p-button-sm col ms-2" label="new"></button>
    </div>
  </div>
  <p-table [value]="orgService.orgs"
           styleClass="p-datatable-gridlines p-datatable-sm"
           [rowHover]="true"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [value]="orgService.orgs"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="orgService.totalOrgs"
           [scrollable]="true"
           (onPage)="onPagination($event)">

    <ng-template pTemplate="header">
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Phone </th>
        <th> Email </th>
        <th> Website </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td> {{item.id}}</td>
        <td> {{item.name}} </td>
        <td> {{item.phone}}</td>
        <td> {{item.email}}</td>
        <td> {{item.website}}</td>
        <td>
          <span class="p-buttonset">
            <button (click)="showEditDialog(index)" pButton icon="pi pi-pencil"
                    class="p-button-outlined p-button-secondary"></button>
<!--            <button (click)="onDelete(index)" pButton icon="pi pi-trash"-->
<!--                    class="p-button-outlined p-button-secondary"></button>-->
            <button [routerLink]="['/org', item.id]" pButton icon="pi pi-eye"
                    class="p-button-outlined p-button-secondary"></button>
          </span>
        </td>

      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>
</div>
