<div class="text-center">

  <p-table [value]="diagBillService.selectedDiagnostics" [scrollable]="true" >
    <ng-template pTemplate="caption">
      <h3 class="text-center my-2">{{org.name}}Diagnostics</h3>
      <div class="tableCaption mt-4 row" id="table">
        <span class="captionInfo col-md">
          <p>Patient Name: <b>{{diagBillService.selectedPatient.name}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Patient Phone: <b>{{diagBillService.selectedPatient.phone}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Issued: <b>{{issued | date:'longDate'}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Issued By: <b>#{{user.id}}</b></p>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols"
            style="text-align: center">
          {{col.header}}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-diagnostic let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: center">{{diagnostic.serviceName}}</td>

        <td style="text-align: center">{{diagnostic.price}}</td>

        <td style="text-align: center">
          <div *ngIf="!diagnostic.discountApplied">
            <input pInputText type="number"
                   [style]="{width: '80px', borderRadius: '10px 0 0 10px'}"
                   placeholder="%"
                   class="p-inputtext-sm"
                   [(ngModel)]="diagnostic.discount">
            <button pButton icon="pi pi-check"
                    class="p-button-success p-button-sm"
                    [disabled]="isDisabled(diagnostic.discount)"
                    style="border-radius: 0 10px 10px 0"
                    (click)="applyIndividualDiscount(rowIndex, diagnostic.final_price, diagnostic.discount)">
            </button>
          </div>
          <div *ngIf="diagnostic.discountApplied" class="d-flex justify-content-center align-items-center">
            <p class="mb-0 mx-2">{{diagnostic.discount}}%</p>
            <i class="pi pi-pencil" (click)="cancelIndividualDiscount(rowIndex)"></i>
          </div>
        </td>

        <td style="text-align: center">{{diagnostic.final_price}}</td>


      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td rowspan="4" colspan="2">
          <div *ngIf="showDiscountInput" class="discount">
            <input pInputText type="number" placeholder="Enter discount %" [min]="0" [max]="100"
                   style="border-radius: 10px 0 0 10px; width: 200px" [(ngModel)]="discountPercent" class="p-inputtext-sm">
            <button pButton label="Apply" class="p-button-success p-button-sm" [disabled]="isDisabled(discountPercent)"
                    style="border-radius: 0 10px 10px 0" (click)="applyDiscount()"></button>
          </div>
          <div *ngIf="!showDiscountInput" class="discount">
            <p class="mx-2 my-0">{{discountPercent}}% discount has been applied</p>
            <i class="pi pi-pencil" (click)="cancelDiscount()"></i>
          </div>
        </td>
        <td style="text-align: center">Total</td>
        <td style="text-align: center">{{calculateAfterTotalIndividualDiscount()}} BDT</td>
      </tr>
      <tr>
        <td style="text-align: center">Discount</td>
        <td style="text-align: center">-{{discountAmount}} BDT</td>
      </tr>
      <tr>
        <td style="text-align: center">VAT</td>
        <td style="text-align: center">+{{(calculatePayable()*5)/100}} BDT</td>
      </tr>
      <tr>
        <td style="text-align: center">Payable</td>
        <td style="text-align: center">{{calculatePayable() + (calculatePayable()*5)/100}} BDT</td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton label="Generate Invoice" icon="pi pi-file-pdf"
          class="p-button-success mt-4" (click)="generateInvoice()"></button>
</div>
