<div class="doctorListContainer">

  <h3 class="text-center mb-4">Users List</h3>
  <p-table #dt
           styleClass="p-datatable-gridlines p-datatable-sm"
           [rowHover]="true"
           [value]="appUserService.appUsers"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [style]="{'width': '100%', 'min-width': '800px'}"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="appUserService.totalUsers"
           [scrollable]="true"
           (onPage)="onPagination($event)">
    <ng-template pTemplate="caption">
      <div class="tableToolbar">
        <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
                class="p-button-success p-button-outlined p-button-sm" label="New User"></button>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="p-inputtext-sm"
                   (input)="onSearch($any($event.target).value)"
                   placeholder="Search Name" />
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center"> ID </th>
        <th style="text-align: center"> Name </th>
        <th style="text-align: center"> Role </th>
        <th style="text-align: center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td style="text-align: center"> {{item.id}}</td>
        <td style="text-align: center"> {{item.name | titlecase}} </td>
        <td style="text-align: center"> {{item.role.toString().split("ROLE_")[1].replace('_', ' ') | titlecase}}</td>
        <td style="text-align: center">
<!--          <span class="p-buttonset">-->
            <button (click)="showEditDialog(index)" pButton icon="pi pi-pencil"
                    class="p-button-outlined p-button-secondary"></button>
<!--            <button (click)="onDelete(index)" pButton icon="pi pi-trash"-->
<!--                    class="p-button-outlined p-button-secondary"></button>-->
<!--          </span>-->
        </td>

      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>
  <p-toast position="bottom-left"></p-toast>
</div>
