<nav class="navContainer">
  <div class="navLeft">
<!--    <button pButton class="p-button-outlined  d-md-none" icon="pi pi-bars"></button>-->
    <p-sidebar [(visible)]="sidebarVisible" [baseZIndex]=10000>
      <div class="sidebarBody">
        <ul>

          <li
            *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
            routerLink="dashboard" routerLinkActive="linkActive"> Dashboard </li>

          <li *ngIf="role === 'ROLE_ADMIN'"
              routerLink="org"
              routerLinkActive="linkActive"
              [routerLinkActiveOptions]="{exact: true}" > Organizations </li>

          <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
              routerLink="doctor"
              routerLinkActive="linkActive"
          >  Doctors </li>

          <li *ngIf="role === 'ROLE_DOCTOR_RECEPTIONIST'"
              routerLink="doctor/billing"
              routerLinkActive="linkActive"
              [routerLinkActiveOptions]="{exact: true}"
          >
            Doctor Billing </li>

          <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
              routerLink="diagnostics"
              routerLinkActive="linkActive"
          > Diagnostics </li>

          <li *ngIf="role === 'ROLE_DIAGNOSTIC_RECEPTIONIST'"
              routerLink="diagnostics/billing"
              routerLinkActive="linkActive"
              [routerLinkActiveOptions]="{exact: true}"
          >
            Diagnostic Billing </li>

          <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
              routerLink="medicine"
              routerLinkActive="linkActive"
          > Medicines </li>

          <li *ngIf="role === 'ROLE_PHARMACIST'"
              routerLink="medicine/billing"
              routerLinkActive="linkActive"
              [routerLinkActiveOptions]="{exact: true}"
          > Medicine Billing </li>

          <li
            *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
            routerLink="patients"
            routerLinkActive="linkActive">
            Patients
          </li>

          <li
            *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_ORG_ADMIN'"
            routerLink="users"
            routerLinkActive="linkActive">
            Users
          </li>

        </ul>

      </div>

    </p-sidebar>
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass=" p-button-outlined" class="d-md-none"></p-button>
    <h5 *ngIf="role === 'ROLE_ADMIN'; else notAdmin"> SHL Billing </h5>
    <ng-template #notAdmin>
      <h5>SHL Billing | {{authService.orgName}}</h5>
    </ng-template>
  </div>

  <div class="navRight">
    <app-logout></app-logout>
  </div>

</nav>
