<div class="container-lg h-100">
  <div class="welcome text-center mb-4">
    <h3>Welcome, {{authService.appUserName}}</h3>
    <p>You are logged in as Admin</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 cardBody" *ngFor="let info of cardInfo">
      <div class="cardContainer row">
        <div class="col-8 d-flex flex-column align-items-start">
          <h1>{{info.count}}</h1>
          <span class="cardTitle">
            <span class="material-symbols-outlined icon">{{info.icon}}</span>
            <p>{{info.title}}</p>
          </span>
        </div>

        <div class="col-4 d-flex justify-content-end align-items-center">
          <button pButton icon="pi pi-arrow-right"
                  class=" p-button-text arrowIcon"
          routerLink="{{info.url}}"></button>


        </div>

      </div>
    </div>
  </div>
</div>
