@import "src/app/scss/variables";

.cardBody{
  background: white;
  border-radius: 20px;
  padding: 20px 0;
  margin: 10px;
}

.cardContainer{
  padding: 0 30px;
}

.cardTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle p{
  margin: 0 5px;
}
