<div class="text-center">

  <p-table [value]="medBillService.selectedMeds" [scrollable]="true" >
    <ng-template pTemplate="caption">
      <h2 class="text-center my-2">{{org.name}}Pharmacy</h2>
      <div class="tableCaption mt-4 row" id="table">
        <span class="captionInfo col-md">
          <p>Patient Name: <b>{{medBillService.selectedPatient.name}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Patient Phone: <b>{{medBillService.selectedPatient.phone}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Issued: <b>{{issued | date:'longDate'}}</b></p>
        </span>
        <span class="captionInfo col-md">
          <p>Issued By: <b>#{{user.id}}</b></p>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols"
            style="text-align: center">
          {{col.header}}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-medicine>
      <tr>
        <td style="text-align: center">{{medicine.medicine.name}}</td>

        <td style="text-align: center">{{medicine.medicine.genericName}}</td>

        <td style="text-align: center">{{medicine.medicine.strength}}</td>

        <td style="text-align: center">{{medicine.quantity}}</td>

        <td style="text-align: center">{{medicine.medicine.price}}</td>

        <td style="text-align: center">{{medicine.total_price}}</td>

      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td rowspan="4" colspan="4">
          <div *ngIf="showDiscountInput" class="discount">
            <input pInputText type="number" placeholder="Enter discount %" [min]="0" [max]="100"
                   style="border-radius: 10px 0 0 10px; width: 200px" [(ngModel)]="discountPercent">
            <button pButton label="Apply" class="p-button-success" [disabled]="discountPercent == null || discountPercent<1"
                    style="border-radius: 0 10px 10px 0" (click)="applyDiscount()"></button>
          </div>
          <div *ngIf="!showDiscountInput" class="discount">
            <p class="mx-2 my-0">{{discountPercent}}% discount has been applied</p>
            <i class="pi pi-times" (click)="cancelDiscount()"></i>
          </div>
        </td>
        <td style="text-align: center">Total</td>
        <td style="text-align: center">{{calculateTotal()}} BDT</td>
      </tr>
      <tr>
        <td style="text-align: center">Discount</td>
        <td style="text-align: center">-{{discountAmount}} BDT</td>
      </tr>
      <tr>
        <td style="text-align: center">Payable</td>
        <td style="text-align: center">{{calculatePayable()}} BDT</td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton label="Generate Invoice" icon="pi pi-file-pdf"
          class="p-button-success mt-4" (click)="generateInvoice()"></button>
</div>
