<div>

  <h4 class="mb-4">CHECKOUT</h4>

  <div class="row my-4">
    <div class="text-start col">
      <p>{{medBillService.selectedPatient.name}}</p>
      <p>{{medBillService.selectedPatient.phone}}</p>
      <p>{{medBillService.selectedPatient.email}}</p>
    </div>

    <div class="text-end col">
      <p>{{authService.orgName}}Pharmacy</p>
      <p>Issue Date: {{issued | date:'longDate'}}</p>
      <p>Issued By: {{authService.appUserName}}</p>
    </div>
  </div>

  <p-table [value]="medBillService.selectedMeds" [scrollable]="true" >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col}}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-medicine let-rowIndex="rowIndex">
      <tr>
        <td>{{rowIndex+1}}</td>
        <td>{{medicine.medicine.name}}</td>
        <td>{{medicine.medicine.genericName}}</td>
        <td>{{medicine.medicine.strength}}</td>
        <td>{{medicine.quantity}}</td>
        <td>{{medicine.medicine.price}}</td>
        <td>{{medicine.total_price}}</td>

      </tr>
    </ng-template>
  </p-table>

  <div class="row d-flex align-items-center my-4">
    <div class="col">
      <div *ngIf="showDiscountInput" class="discount">
        <input pInputText type="number" placeholder="Enter discount %" [min]="0" [max]="100"
               style="border-radius: 10px 0 0 10px; width: 200px" [(ngModel)]="discountPercent" class="p-inputtext-sm">
        <button pButton label="Apply" class=" p-button-sm" [disabled]="discountPercent == null || discountPercent<1"
                style="border-radius: 0 10px 10px 0" (click)="applyDiscount()"></button>
      </div>
      <div *ngIf="!showDiscountInput" class="discount">
        <p class="mx-2 my-0">{{discountPercent}}% discount has been applied</p>
        <i class="pi pi-pencil" (click)="cancelDiscount()"></i>
      </div>
    </div>

    <div class="row col">
      <ul class="col text-end">
        <li >Total</li>
        <li >Discount</li>
        <li >VAT</li>
        <li ><b>Payable</b></li>
      </ul>

      <ul class="col text-end">
        <li >{{calculateTotal().toFixed(2)}} BDT</li>
        <li >-{{discountAmount.toFixed(2)}} BDT</li>
        <li >+{{(calculatePayable()*5)/100}} BDT</li>
        <li ><b>{{calculatePayable() + (calculatePayable()*5)/100}} BDT</b></li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <button pButton label="Generate Invoice" icon="pi pi-file-pdf"
            class="mt-4" (click)="generateInvoice()"></button>
  </div>
</div>
