
<div class="loginContainer">

  <div class="loginCard">
    <div class="cardHeader">
      <h1>SHL Billing</h1>
    </div>

    <form class="cardBody" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="fields">
        <label for="username">E-mail</label>
        <input
          id="username"
          pInputText
          formControlName="email"/>
      </div>

      <div class="fields">
        <label for="password">Password</label>
        <p-password id="password"
                    class="p-fluid"
                    [toggleMask]="true"
                    formControlName="password"/>
      </div>

      <div class="fields">
        <button
          [style]="{'width': '100%'}"
          pButton
          type="submit"
          label="Log in"
          [disabled]="!loginForm.valid"></button>
      </div>
    </form>

  </div>

</div>

