
<div class="loginContainer">

  <div class="loginCard">
    <div class="cardHeader">
      <h1>SHL Billing</h1>
    </div>

    <form class="cardBody">

      <div class="fields">
        <label for="username" class="block">E-mail</label>
        <input id="username" placeholder="Type your email" class="ng-dirty" pInputText />
      </div>

      <div class="fields">
        <label for="password" class="block">Password</label>
        <input id="password" type="password" class="ng-dirty" pPassword placeholder="Password" />
      </div>

      <div class="fields">
        <button [style]="{'width': '100%'}" pButton type="submit" label="Log in" class="p-button-success"></button>
      </div>
    </form>

  </div>

</div>

