<div class="loginContainer container-fluid">
  <div class="row h-100">
    <div class="leftContainer col d-none d-md-flex align-items-center justify-content-center">
          <div class="w-100">
            <h1 class="text-center">SHL <br> Billing</h1>
          </div>
    </div>
    <div class="rightContainer col p-0 d-flex align-items-center justify-content-center">
          <div class="container mx-lg-5">
            <form class="mx-lg-5" [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="field mx-5">
                <label for="email">E-mail</label>
                <input
                  class="w-100"
                  id="email"
                  pInputText
                  formControlName="email"/>
              </div>
              <div class="field mx-5">
                <label for="password">Password</label>
                <p-password
                  class="p-fluid"
                  inputId="password"
                  [feedback]="false"
                  [toggleMask]="!!loginForm.controls['password'].value"
                  formControlName="password"/>
              </div>
              <div class="field mx-5">
                <button
                  style="width: 100%"
                  pButton
                  type="submit"
                  label="Log in"
                  class=""
                  [disabled]="!loginForm.valid"></button>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>
