<div>
  <h4 class="text-md-start text-center">DIAGNOSTICS BILLING</h4>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="text-start fields my-4">
        <label for="searchPatient"> Search Patient </label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="pi pi-search"></i>
          </span>
          <p-autoComplete
            [style]="{'width': '100%'}"
            [inputStyle]="{'width': '100%'}"
            id="searchPatient"
            [formControl]="patientSearch"
            placeholder="Enter name/phone"
            [showEmptyMessage] = "true"
            [suggestions]="DBService.filteredPatients"
            [forceSelection]="true"
            (onSelect)="onPatientSelect()"
            (completeMethod)="filterPatient($event)"
            class="p-inputtext-sm"
            field="name">

            <ng-template let-patient pTemplate="item">
              <p>{{ patient.name }} ({{ patient.phone }})</p>
            </ng-template>

          </p-autoComplete>
        </div>
      </div>

      <div *ngIf="patientSearch.valid; else regPatient" class="row p-0">
        <div class="col">
          <div class="card text-start p-3 d-flex flex-column">
            <div class="row p-0 m-0">
              <div class="col-10 p-0 m-0">
                <h5>{{DBService.selectedPatient.name}}</h5>
              </div>
              <div class="col-2 d-flex justify-content-end p-0 m-0">
                <button pButton
                        icon="pi pi-times"
                        class="p-button-sm p-button-text"
                        (click)="resetPatientSearch()"
                >
                </button>
              </div>
            </div>

            <div class="col p-0 mt-1">
              <p-chip class="me-2" label="{{DBService.selectedPatient.phone}}"></p-chip>
              <p-chip class="mx-2" label="{{DBService.selectedPatient.email}}"></p-chip>
              <p-chip class="mx-2" label="{{DBService.selectedPatient.age}}y/o"></p-chip>
              <p-chip class="mx-2" label="{{DBService.selectedPatient.gender | titlecase}}"></p-chip>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #regPatient>
      <div class="text-center">
        <button pButton
                class="p-button-sm"
                label="New Patient"
                icon="pi pi-plus"
                (click)="showCreateDialog()"

        ></button>
      </div>
    </ng-template>

    <div class="col-md-6 col-12">
      <div class="fields text-start my-4">
        <label for="searchDiagnostic"> Search & Add Diagnostics </label>
        <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-search"></i>
                </span>
          <p-autoComplete
            [style]="{'width': '100%'}"
            [inputStyle]="{'width': '100%'}"
            id="searchDiagnostic"
            [formControl]="diagnosticSearch"
            placeholder="Enter name"
            [showEmptyMessage] = "true"
            [suggestions]="DBService.filteredDiagnostics"
            [forceSelection]="true"
            (onSelect)="onDiagSelect($event)"
            (completeMethod)="filterDiagnostic($event)"
            class="p-inputtext-sm"
            field="serviceName">

          </p-autoComplete>
        </div>

      </div>

      <div class="col">
        <p-table styleClass="p-datatable-sm p-datatable-gridlines" *ngIf="DBService.selectedDiagnostics.length > 0"
                 [rowHover]="true"
                 [value]="DBService.selectedDiagnostics"
                 [scrollable]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th> # </th>
              <th> Name </th>
              <th> Price (BDT) </th>
              <th> Actions </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index='rowIndex'>
            <tr>
              <td> {{index + 1}} </td>
              <td> {{item.serviceName}} </td>
              <td> {{item.price}}</td>
              <td>
                <button (click)="onDelete(index)" pButton class="p-button-outlined p-button-danger" icon="pi pi-trash"></button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row p-0 mt-3 text-center">
        <div class="col p-0 m-0">
          <button pButton
                  type="button"
                  class=" p-button-sm"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  [disabled]="!patientSearch.valid || DBService.selectedDiagnostics.length < 1"
                  label="Proceed to checkout"
                  routerLink="/diagnostics/checkout"
          ></button>
        </div>
      </div>
    </div>
  </div>


</div>
