.appUserContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appUserCardContainer{
  width: 70%;
  height: auto;
  padding: 16px;
}

.inputField{
  display: flex;
  flex-direction: column;
}

.appUserCardContainer form{
  display: flex;
  flex-direction: column;
}

.appUserCardContainer button{
  margin-top: 20px;
}

.appUserCardContainer label{
  margin: 5px 0;
}
