<div class="historyContainer" #t *ngIf="historyService.billingDetails as docBill">

  <div class="row">
    <div class="col">
      <h1>Invoice</h1>
    </div>
    <div class="col text-end">
      <p>{{docBill.organization.name}}</p>
      <ul>
        <li>{{docBill.organization.address}}</li>
        <li>{{docBill.organization.phone}}</li>
      </ul>

    </div>
  </div>

  <hr>

  <span class="row">
    <div class="orgDetails col">
      <p class="m-0">{{docBill.patient.name}}</p>
      <ul>
        <li class="col">{{docBill.patient.phone}}</li>
        <li class="col">{{docBill.patient.email}}</li>
        <li class="col">{{docBill.patient.age+"y/o, "+docBill.patient.gender | titlecase}}</li>
      </ul>
    </div>

    <div class="userDetails col text-end">
      <p class="m-0">Service: Dr Appointment</p>
      <ul>
        <li>Invoice#: {{docBill.id}}</li>
        <li>
          Issued At: {{docBill.createdAt.split('T')[0]}}
        </li>
        <li>Issued By: {{docBill.createdBy.name}}</li>

      </ul>
    </div>
  </span>
  <hr>

  <span class="billItems">
      <table>
        <tr>
          <th>Dr Name</th>
<!--          <th>Time</th>-->
          <th>Service Type</th>
          <th>BMDC</th>
          <th>Email</th>
        </tr>
        <tr *ngIf="docBill">
          <td>{{docBill.doctor.name}}</td>
<!--          <td>{{docBill.drTime}}</td>-->
          <td>{{docBill.type | titlecase}}</td>
          <td>{{docBill.doctor.bmdc}}</td>
          <td>{{docBill.doctor.email}}</td>
        </tr>
      </table>
  </span>

  <hr>

  <div class="row text-end">
    <span class="col-9"></span>
    <span class="col-1 te">
      <p>Subtotal</p>
      <p>Discount</p>
      <p>VAT</p>
      <b>Total</b>
    </span>
    <span class="col">
        <p>{{docBill.fee}}</p>
        <p>{{docBill.discount}}%</p>
        <p>5%</p>
        <b>{{docBill.finalFee}}</b>
    </span>
    <p class="text-end mt-3">In words: {{toWords(docBill.finalFee)}}</p>
  </div>

  <hr class="border-0">

  <small class="terms"><b>Terms & Conditions:</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
</div>

<div class="pdfAction text-center">
  <p-button (click)="createPDF('download')" label="Download"></p-button>
  <p-button (click)="createPDF('print')" label="Print"></p-button>
</div>
