<div class="historyContainer" #t *ngIf="historyService.billingDetails as docBill">

  <div class="row">
    <h1 class="col">Invoice #{{docBill.id}}</h1>
    <div class="date col">
      <p>Issued</p>
      <p *ngIf="docBill.createdAt as time">
        {{time[3]+":"+time[4]+":"+time[5]+", "+time[1]+"/"+time[2]+"/"+time[0]}}
      </p>
    </div>
  </div>

  <hr>

  <span class="row">
    <div class="orgDetails col">
      <p>{{docBill.organization.name}}</p>
      <ul>
        <li>Address: {{docBill.organization.address | titlecase}}</li>
        <li>Phone: {{docBill.organization.phone}}</li>
        <li>Email: {{docBill.organization.email}}</li>
        <li>Website: {{docBill.organization.website}}</li>
      </ul>
    </div>

    <div class="userDetails col text-end">
      <p>Service: Diagnostic</p>
      <ul>
        <li><b>Receptionist Details</b></li>
        <li>ID: {{docBill.createdBy.id}}</li>
        <li>Name: {{docBill.createdBy.name}}</li>
        <li>Phone: {{docBill.createdBy.phone}}</li>
      </ul>
    </div>
  </span>

  <hr>

  <span class="patinetnInfo">
    <p class="sectionHeader mb-2">Patient Details#{{docBill.patient.id}}</p>
    <ul class="row">
      <li class="col">{{docBill.patient.name}}</li>
      <li class="col-2">{{docBill.patient.age}}y/o</li>
      <li class="col-2">{{docBill.patient.gender | titlecase}}</li>
      <li class="col">{{docBill.patient.phone}}</li>
      <li class="col">{{docBill.patient.email}}</li>
    </ul>
  </span>

  <hr>

  <span class="billItems">
      <p class="sectionHeader">Doctor Details</p>
      <table>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Service</th>
          <th>BMDC</th>
          <th>Email</th>
        </tr>
        <tr *ngIf="docBill">
          <td>{{docBill.doctor.name}}</td>
          <td>{{docBill.drTime}}</td>
          <td>{{docBill.type | titlecase}}</td>
          <td>{{docBill.doctor.bmdc}}</td>
          <td>{{docBill.doctor.email}}</td>
        </tr>
      </table>
  </span>

  <hr>

  <p class="sectionHeader">Payment Details</p>
  <p>Subtotal: BDT {{docBill.fee}}</p>
  <p>Overall Discount: {{docBill.discount}}%</p>
  <p>VAT: 5%</p>

  <span class="finalBill">
    <p>Final Bill: BDT {{docBill.finalFee}}</p>
    <p>In words: {{toWords(docBill.finalFee)}} Taka Only</p>
  </span>

  <hr class="border-0">

  <small class="terms"><b>Terms & Conditions:</b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
</div>

<div class="pdfAction text-center">
  <p-button (click)="createPDF('download')" label="Download"></p-button>
  <p-button (click)="createPDF('print')" label="Print"></p-button>
</div>
