.homeContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  flex: 1;
}

.bodyContainer{
  display: flex;
  flex: 9;
}
.sidebar{
  flex: 2;
}

.mainContent{
  display: flex;
  flex: 10;
  padding: 20px;
  align-items: center;
  justify-content: center;
  overflow: auto;
  //background-color: aquamarine;
}


