<div class="doctorProfileContainer">
  <div class="doctorHeader">
    <h1>{{doctor.name}}</h1>
    <div class="chipContainer">
      <p-tag *ngFor="let speciality of doctor.specialities"
              [style]="{
                borderRadius: '5px',
                padding: '10px',
                width: '130px',
                display: 'flex',
                justifyContent: 'center',
                background: '#2D3649',
                color: 'white'}">
        {{speciality}}</p-tag >
    </div>
    <p-divider [style]="{width: '50rem'}"></p-divider>
  </div>

  <div class="doctorInfo">
    <div class="personalDetails">
      <h2>Personal Details</h2>
      <div class="chipContainer">
        <p-tag>Email: {{doctor.email}}</p-tag>
        <p-tag>Phone: {{doctor.phone}}</p-tag>
        <p-tag>Gender: {{doctor.gender}}</p-tag>
      </div>
    </div>

    <div class="degrees">
      <h2>Degrees</h2>
      <div class="chipContainer">
        <p-tag *ngFor="let degree of doctor.degrees"
               [style]="{
                borderRadius: '5px',
                padding: '6px 10px',
                display: 'flex',
                justifyContent: 'center',
                background: '#cbd2e0',
                color: '#2D3649',
                border: 'none'}">
          {{degree}}</p-tag>
      </div>
    </div>
  </div>

  <div class="orgContainer" *ngFor="let org of orgs">
    <h2>{{org.name}}</h2>
    <div class="docOrgInfoTables">
      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '25rem'}">
        <ng-template pTemplate="caption">Fees (BDT)</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Consultation</th>
            <th>Report</th>
            <th>Follow up</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let fee of org.fees">{{fee}}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="caption">Availability</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of colHeaders">{{header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let day of org.days">
              <i *ngIf="day == '1'" class="pi pi-check"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
