<div class="doctorProfileContainer">
  <div class="doctorHeader">
    <h2>doctor name</h2>
    <p>OPHTHALMOLOGY</p>
  </div>

  <p-card [style]="{'min-width': '43rem'}">
    <div class="personalDetails">
      <span>
        <i class="pi pi-envelope"></i>
        <p>abc@gmail.com</p>
      </span>
      <span>
        <i class="pi pi-phone"></i>
        <p>01712345312</p>
      </span>
      <span>
        <i class="pi pi-user"></i>
        <p>Female</p>
      </span>
      <span>
        <i class="pi pi-file"></i>
        <p>MBBS D.N.B</p>
      </span>
    </div>
  </p-card>

  <div class="orgContainer" *ngFor="let org of orgs">
    <h2>{{org.name}}</h2>
    <div class="docOrgInfoTables">
      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="caption">Fees (BDT)</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Consultation</th>
            <th>Report</th>
            <th>Follow up</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let fee of org.fees">{{fee}}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="caption">Availability</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Sa</th>
            <th>Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let day of org.days">
              <i *ngIf="day == '1'" class="pi pi-check"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
