@import "src/app/scss/variables.scss";

.profileContainer{
  background: white;
  border-radius: 10px;
}

.chipContainer{
  display: block;
  gap: 10px;
  margin: 16px 0;
  ::ng-deep .p-tag{
    border-radius: 5px;
    display: inline-block;
    border: 2px solid $primary-color;
    background: transparent;
    color: $primary-color;
    margin: 0 10px 10px 0;
  }
}
.doctorInfo{
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

//.orgContainer{
//  ::ng-deep .p-tag{
//    background: $primary-lighter;
//  }
//}

.docOrgInfoTables{
  display: block;
  .availableTimes{
    display: inline-block;
    min-width: 130px;
    margin: 0 10px 10px 0;
    padding: 10px;
    b{
      color: $primary-color;
    }
    p{
      font-size: 14px;
    }
  }
}
