.doctorProfileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctorHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

}

.chipContainer{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.personalDetails{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px;
}

.personalDetails span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.orgContainer{
  display: flex;
  flex-direction: column;
}

.docOrgInfoTables{
  display: flex;
  margin: 20px 0;
}

::ng-deep .p-card{
  margin: 20px;
}
