<div class="doctorProfileContainer">
  <div class="doctorHeader">
    <h2>{{doctor.name}}</h2>
    <div class="chipContainer">
      <p-tag *ngFor="let speciality of doctor.specialities">{{speciality}}</p-tag>
    </div>
    <div class="chipContainer">
      <p-tag *ngFor="let degree of doctor.degrees">{{degree}}</p-tag>
    </div>
  </div>

  <div class="personalDetails">
    <span>
      <p-chip icon="pi pi-envelope" label={{doctor.email}}></p-chip>
    </span>
    <span>
      <p-chip icon="pi pi-phone" label={{doctor.phone}}></p-chip>
    </span>
    <span>
      <p-chip icon="pi pi-user" label={{doctor.gender}}></p-chip>
    </span>
  </div>

  <div class="orgContainer" *ngFor="let org of orgs">
    <h2>{{org.name}}</h2>
    <div class="docOrgInfoTables">
      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="caption">Fees (BDT)</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Consultation</th>
            <th>Report</th>
            <th>Follow up</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let fee of org.fees">{{fee}}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-table [value]=[1] styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '20rem'}">
        <ng-template pTemplate="caption">Availability</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of colHeaders">{{header}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td *ngFor="let day of org.days">
              <i *ngIf="day == '1'" class="pi pi-check"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
