<div class="doctorListContainer">

  <h3 class="text-center mb-4">Registered Patients</h3>
  <p-table styleClass="p-datatable-sm p-datatable-gridlines"
          [value]="patientService.patients"
           [rowHover]="true"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [style]="{'width': '100%', 'min-width': '800px'}"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="patientService.totalPatients"
           [scrollable]="true"
           (onPage)="onPagination($event)">
    <ng-template pTemplate="caption">
      <div class="tableToolbar">
        <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
                class="p-button-success p-button-outlined p-button-sm" label="New Patient"></button>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" class="p-inputtext-sm"
                   (input)="onSearch($any($event.target).value)"
                   placeholder="Search name/phone/email" />
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center"> # </th>
        <th style="text-align: center"> Name </th>
        <th style="text-align: center"> Phone </th>
        <th style="text-align: center"> Email </th>
        <th style="text-align: center"> Gender </th>
        <th style="text-align: center"> Age </th>
<!--        <th style="text-align: center" *ngIf="patientService.role === 'ROLE_ADMIN'"> Actions </th>-->

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td style="text-align: center"> {{index + 1}}</td>
        <td style="text-align: center"> {{item.name}} </td>
        <td style="text-align: center"> {{item.phone}}</td>
        <td style="text-align: center"> {{item.email}}</td>
        <td style="text-align: center"> {{item.gender}}</td>
        <td style="text-align: center"> {{item.age}}</td>
<!--        <td style="text-align: center" *ngIf="patientService.role === 'ROLE_ADMIN'">-->
<!--          <i class="pi pi-pencil" (click)="showEditDialog(index)"></i>-->
<!--          <button pButton icon="pi pi-pencil" class="p-button-outlined p-button-secondary" (click)="showEditDialog(index)"></button>-->
<!--        </td>-->

      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>
  <p-toast position="bottom-left"></p-toast>

</div>
