<div class="doctorListContainer">

  <h2 class="text-center mb-4">Registered Patients</h2>
  <p-table [value]="patientService.patients"
           [rowHover]="true"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [style]="{'width': '100%', 'min-width': '800px'}"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="patientService.totalPatients"
           [scrollable]="true"
           (onPage)="onPagination($event)">
    <ng-template pTemplate="caption">
      <div class="tableToolbar">
        <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
                class="p-button-success p-button-outlined" label="New Patient"></button>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text"
                   (input)="onSearch($any($event.target).value)"
                   placeholder="Search name/phone/email" />
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center"> # </th>
        <th style="text-align: center"> Name </th>
        <th style="text-align: center"> Phone </th>
        <th style="text-align: center"> Email </th>
        <th style="text-align: center"> Gender </th>
        <th style="text-align: center"> Age </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td style="text-align: center"> {{index + 1}}</td>
        <td style="text-align: center"> {{item.name}} </td>
        <td style="text-align: center"> {{item.phone}}</td>
        <td style="text-align: center"> {{item.email}}</td>
        <td style="text-align: center"> {{item.gender}}</td>
        <td style="text-align: center"> {{item.age}}</td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>
</div>
