<div class="doctorListContainer">

  <div class="row mb-4">
    <h4 class="col-md-6 col text-md-start text-center">REGISTERED PATIENTS</h4>
    <div class="col-md-6 text-md-end text-center mt-md-0 mt-3">
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-inputtext-sm"
               (input)="onSearch($any($event.target).value)"
               placeholder="Search name/phone/email" />
      </div>
      <button (click)="showCreateDialog()" pButton icon="pi pi-plus"
              class="p-button-sm col ms-2" label="New"></button>
    </div>
  </div>

<!--  <h4>REGISTERED PATIENTS</h4>-->
<!--  <div class="tableToolbar row">-->
<!--    <span class="p-input-icon-left search col-8 p-0">-->
<!--            <i class="pi pi-search"></i>-->
<!--            <input pInputText type="text" class="p-inputtext-sm"-->
<!--                   (input)="onSearch($any($event.target).value)"-->
<!--                   placeholder="Search name/phone/email" />-->
<!--          </span>-->
<!--    <span class="addBtn col text-end p-0">-->
<!--      <button (click)="showCreateDialog()" pButton icon="pi pi-plus"-->
<!--              class="p-button-sm" label="New Patient"></button>-->
<!--    </span>-->
<!--  </div>-->
  <p-table styleClass="p-datatable-sm p-datatable-gridlines"
          [value]="patientService.patients"
           [rowHover]="true"
           [lazy]="true"
           (onLazyLoad)="onPagination($event.first)"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="patientService.totalPatients"
           [scrollable]="true"
           (onPage)="onPagination($event)">
    <ng-template pTemplate="header">
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Phone </th>
        <th> Email </th>
        <th> Gender </th>
        <th> Age </th>
<!--        <th *ngIf="patientService.role === 'ROLE_ADMIN'"> Actions </th>-->

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index='rowIndex'>
      <tr>
        <td> {{index + 1}}</td>
        <td> {{item.name}} </td>
        <td> {{item.phone}}</td>
        <td> {{item.email}}</td>
        <td> {{item.gender | titlecase}}</td>
        <td> {{item.age}}</td>
<!--        <td *ngIf="patientService.role === 'ROLE_ADMIN'">-->
<!--          <i class="pi pi-pencil" (click)="showEditDialog(index)"></i>-->
<!--          <button pButton icon="pi pi-pencil" class="p-button-outlined p-button-secondary" (click)="showEditDialog(index)"></button>-->
<!--        </td>-->

      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog icon="pi pi-exclamation-triangle" [baseZIndex]="10000"></p-confirmDialog>
  <p-toast position="bottom-left"></p-toast>

</div>
