.patientRegContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputField{
  display: flex;
  flex-direction: column;
}

.genderFields{
  display: flex;
  align-items: center;
  gap: 24px;
}

.patientRegCardContainer form{
  display: flex;
  flex-direction: column;
}

.patientRegCardContainer button{
  margin-top: 20px;
}

.patientRegCardContainer label{
  margin: 5px 0;
}
