<div class="patientRegContainer">

  <div class="patientRegCardContainer">
    <p-toast position="center"></p-toast>
    <form [formGroup]="patientRegForm" (ngSubmit)="onCreatePatient()">

      <small class="mb-2" *ngIf="patientRegForm.invalid"><i>All fields are required *</i></small>

      <span class="inputField">
        <label for="name">Name</label>
        <input formControlName="name"
               id="name"
               type="text"
               pInputText
               class="p-inputtext-sm"
               placeholder="e.g. Md Rahim"
        />
        <small class="errorMsg m-0"
          *ngIf="!patientRegForm.controls['name'].value
          && patientRegForm.controls['name'].touched">
           This field is required!
        </small>
      </span>

      <div class="row p-0 m-0 d-flex gap-3">
        <div class="col p-0">
      <span
        class="fields">
        <label for="gender">Gender</label>
        <p-dropdown formControlName="gender"
                    class="p-inputtext-sm"
                    [options]="patientService.genders"
                    placeholder="-"
                    id="gender"
                    [style]="{width: '100%'}"
                    optionLabel="gender">
        </p-dropdown>
        <small class="errorMsg m-0"
          *ngIf="!patientRegForm.controls['gender'].value
          && patientRegForm.controls['gender'].touched">
          This field is required!
        </small>
      </span>
        </div>

        <div class="col p-0">
      <span
        class="fields">
        <label for="age">Age</label>
        <input formControlName="age"
               id="age"
               type="number"
               pInputText
               placeholder="e.g. 35"
               class="p-inputtext-sm"/>
        <small class="errorMsg m-0"
          *ngIf="!patientRegForm.controls['age'].value
           && patientRegForm.controls['age'].touched">
          This field is required!
        </small>
        <small class="errorMsg m-0"
               *ngIf="patientRegForm.controls['age'].invalid
                 && patientRegForm.controls['age'].value
                 && patientRegForm.controls['age'].touched">
            This field is invalid!
          </small>
      </span>
        </div>
      </div>

      <div class="row p-0 m-0 d-flex gap-3">
        <div class="col p-0">
      <span
        class="fields">
        <label for="phone">Phone</label>
        <input formControlName="phone"
               id="phone"
               type="text"
               pInputText
               placeholder="e.g. 01xxxxxxxxx"
               class="p-inputtext-sm"
        />
        <small class="errorMsg m-0"
          *ngIf="!patientRegForm.controls['phone'].value
          && patientRegForm.controls['phone'].touched">
          This field is required!
        </small>
        <small class="errorMsg m-0"
               *ngIf="patientRegForm.controls['phone'].invalid
                 && patientRegForm.controls['phone'].value
                 && patientRegForm.controls['phone'].touched">
            This field is invalid!
          </small>
      </span>
        </div>

        <div class="col p-0">
      <span
        class="fields">
        <label for="email">Email</label>
        <input formControlName="email"
               id="email"
               type="email"
               pInputText
               placeholder="e.g. sth@xmail.com"
               class="p-inputtext-sm"/>
        <small class="errorMsg m-0"
          *ngIf="!patientRegForm.controls['email'].value
           && patientRegForm.controls['email'].touched">
          This field is required!
        </small>
        <small class="errorMsg m-0"
               *ngIf="patientRegForm.controls['email'].invalid
                 && patientRegForm.controls['email'].value
                 && patientRegForm.controls['email'].touched">
            This field is invalid!
          </small>
      </span>
        </div>

      </div>


      <button pButton type="submit" *ngIf="!patientService.editMode; else patientEdit"
              label="Add Patient" class=""
              [disabled]="!patientRegForm.valid">

      </button>
      <ng-template #patientEdit>
        <button pButton type="submit"
                label="Update Patient" class=" p-button-sm"
                [disabled]="!patientRegForm.valid">

        </button>
      </ng-template>

    </form>

  </div>

</div>
