<div class="container-lg d-lg-flex align-items-center h-100">
  <div class="welcome text-center mb-4">
    <p>Welcome, UserName</p>
    <h2>You are logged in as Organization Admin</h2>
  </div>
  <div class="row justify-content-center">

    <div class="col-lg-4 cardBody" *ngFor="let info of cardInfo">
      <div class="cardContainer row">
        <div class="col-8 d-flex flex-column align-items-start">
          <h1>{{info.count}}</h1>
          <span class="cardTitle">
            <span class="material-symbols-outlined icon">{{info.icon}}</span>
            <p>{{info.title}}</p>
          </span>
        </div>

        <div class="col-4 d-flex justify-content-end align-items-center">
          <button pButton icon="pi pi-arrow-right"
                  class="p-button-success p-button-text"
                  routerLink="{{info.url}}"
          ></button>


        </div>

      </div>
    </div>
  </div>
</div>
