@import "src/app/scss/variables.scss";

.icon{
  font-size: 24px;
  color: $primary-color;
  background: $primary-lighter;
  padding: 5px;
  border-radius: 8px;
}

.cardBody{
  background: white;
  border-radius: 20px;
  padding: 20px 0;
  margin: 10px;
}

.cardContainer{
  padding: 0 30px;
}

.cardTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle p{
  margin: 0 5px;
}
